<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="Description" content="Explore restoran yang sedang populer di indonesia">
  <meta name="theme-color" content="#63b3ed"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" type="text/css" href="https://kit-free.fontawesome.com/releases/v5.13.0/css/free.min.css">
  <title>Explore Resto</title>
</head>
<body>
  <a href="#restaurants-list" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="container">
      <div class="header__content">
        <button class="header__menu" aria-label="menu">☰</button>
        <div class="header__title">
          <h1><a href="#/">🍽Explore Resto</a></h1>
        </div>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/">Home</a>
            </li>
            <li class="nav__item">
              <a href="#/favorite">Favorite</a>
            </li>
            <li class="nav__item">
              <a href="https://ra-md.github.io" rel="noreferrer" target="_blank">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main id="main-content">
    <div class="loading">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <span>Copyright © 2020 - Explore Resto</span>
  </footer>
</body>
</html>
