.header {
  background: white;
  box-shadow: 0 0 20px black;
  padding: 3px 0;
  position: sticky;
  left: 0;
  z-index: 10;
  top: 0;
  right: 0;

  &__menu {
    border: none;
    font-size: 1.3rem;
    min-height: 44px;
    min-width: 44px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  &__title {
    line-height: 1.4;
    width: 100%;
    text-align: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu {
      display: none;
    }

    &__title {
      width: unset;
    }
  }
}