.jumbotron {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);

  &__image {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__text {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    line-height: 1.4;

    h1 {
      font-size: 2.5em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #00DBDE;
      background-image: linear-gradient(90deg, #00DBDE, #FC00FF, #00DBDE);
      background-size: 1600px 200px;
      animation: bg-animation 30s infinite forwards;
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    &__text {
      h1 {
        font-size: 5em;
      }
    }
  }
}
