.jumbotron {
	height: 93vh;

	&__image {
		top: 0;
		z-index: -2;
		position: absolute;
		width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
	}

	&__text {
    background: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    right: 5em;
    width: 30%;
    transform: translateY(-50%);

    p {
    	margin: .5em 0;
	    font-size: 1.5em;
			line-height: 1.3;
    }
	}

	.overlay {
		background: rgba(0,0,0,0.2);
		z-index: -1;
		position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
	}

	.x {
		position: relative;
    overflow: hidden;
    height: 93vh;
	}

	.y {
    position: absolute;
    top: 50%;
    width: 60%;
    right: 0;
    transform: translateY(-50%);

    h1 {
    	font-size: 3em;
    	margin-bottom: .5em;
    }

    p {
    	font-size: 1.5em;
    }
	}

	.stripe {
    position: absolute;
    background: white;
    height: 100%;
    width: 100%;
    left: 27em;
    top: 20em;
    transform: rotate(-30deg);
    box-shadow: 0 0 4em 5em white;
	}
}