.jumbotron {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);

  &__image {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__text {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    line-height: 1.4;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    &__text {
      h1 {
        font-size: 5em;
      }
    }
  }
}
