.nav {
  position: absolute;
  background: white;
  visibility: hidden;
  top: 3em;
  height: 100%;
  width: 100%;
  left: -100%;
  transition: transform, visibility;
  transition-duration: .5s;
  transition-timing-function: ease;
  padding: 0 5px;

  &__list {
    list-style: none;
  }

  &__item {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 44px;
      min-width: 44px;
      text-decoration: none;
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: black;

      &:hover {
        color: $blue;
      }

      &:focus {
        outline: none;
        box-shadow: $focus-outline;
      }
    }
  }

  &--open {
    transform: translateX(100%);
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    background: none;
    position: static;
    visibility: visible;
    width: unset;

    &__list {
      display: flex;
    }

    &__item {
      a {
        padding: 0 1em;
      }
    }
  }
}
