.nav {
	position: absolute;
  top: 4em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  background: white;
  border-radius: 10px;
  visibility: hidden;

  &__list {
  	list-style: none;
  }

  &__item {
  	a {
  		display: grid;
  		place-content: center;
  		min-height: 44px;
  		min-width: 44px;
  		text-decoration: none;
  		width: 100%;
  		text-align: center;
  		font-weight: bold;
  		color: black;

  		&:hover {
  			color: red;
  		}
  	}
  }

  &--open {
  	visibility: visible;
  }
}

@media screen and (min-width: 768px) {
	.nav {
		background: none;
		position: static;
		visibility: visible;

		&__list {
			display: flex;
		}

		&__item {
			a {
				padding: 0 1em;
			}
		}
	}
}
