.restaurants {
  &__h1 {
    padding: .5em 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black
  }
}

#restaurants-list {
  display: grid;
  grid-gap: 1.5em;
  margin: 1em 0;

  .empty-favorite-restaurant {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.restaurant {
  background: white;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: transform .3s;

  &__image {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.restaurant-body {
  padding: .5em;

  &__description {
    margin: .5em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__name {
    font-size: 1.5rem;
  }
}

.city-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  &__city {
    i {
      padding-right: 5px;
    }
  }

  &__rating {
    font-size: small;
    border-radius: 5px;
    background: $yellow;
    padding: 3px 10px;
  }
}



@media screen and (min-width: 768px) {
  #restaurants-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}

@media screen and (min-width: 1024px) {
  #restaurants-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
