@import 'config';
@import 'header';
@import 'nav';
@import 'jumbotron';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
  padding: 0 10px;
  max-width: 1080px;
  margin: 0 auto;
}

main {
  margin: 1em 0;
}
