@import 'config';
@import 'header';
@import 'nav';
@import 'jumbotron';
@import 'restoran';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $gray;
}

.container {
  height: 100%;
  padding: 0 10px;
  max-width: 1024px;
  margin: 0 auto;
}

main {
  margin: 1em 0;
}

.skip-link {
  padding: 1em;
  color: white;
  background: $blue;
  position: absolute;
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  top: -100px;
  transition: transform .3s;

  &:focus {
    transform: translateY(100px);
  }
}

.footer {
  padding: 1em;
  background: white;
  text-align: center;
}
